@use 'variables'
  
*
  font-family: 'Arvo'
  font-size: 16px
  box-sizing: border-box
  margin: 0
  padding: 0
  text-decoration: none
  color: variables.$text-color
  list-style-type: none
  font-weight: 400
  scroll-behavior: smooth
  ::-webkit-scrollbar
    width: 10px
  ::-webkit-scrollbar-thumb
    background-color: variables.$primary-color
    border-radius: 3px
  ::-webkit-scrollbar-track
    background-color: variables.$bg-color